@using WebUI.Areas.User.Models
@model ChangePasswordModel

    

<div class="card-body">
    <h4 class="card-title">Parolu dəyiş</h4>
    <br />
    <form class="forms-ample" asp-controller="Teacher" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="password" asp-for="Password" class="form-control" id="exampleInputName1" placeholder="Yeni parol">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputName1" placeholder="Yeni parol">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="ConfrimPassword" class="form-control" id="exampleInputName1" placeholder="Yeni parolu təkrar yazın">
            <span asp-validation-for="ConfrimPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Təstiqlə</button>
        <a href="/User/Book" class="btn btn-white btn-sm">Ləğv et</a>
    </form>
</div>

@if (ViewBag.Success == 1)
{
    <script>
        swal({
            title: "Parol yeniləndi!",
            icon: "success",
            button: "Ok",
        });</script>
}
