  <!--<!-- Banner Section Start -->
<!--<section class="banner-2 section-padding">
    <div class="container">
        <div class="row align-items-center">
                <div class="col-md-12 col-xl-6 col-lg-6">
                    <div class="banner-content">
                        <span class="subheading">Milli Aviasiya Akademiyası</span>
                        <h1>Energetika-avtomatika</h1>
                        <a asp-controller="auth" asp-action="login" class="btn btn-main">Daxil ol</a>
                    </div>
                </div>

                <div class="col-md-12 col-xl-6 col-lg-6">
                    <div class="banner-img-round mt-5 mt-lg-0">
                        <img src="~/Images/VitrinImage.jpg"
                             alt=""
                             class="img-fluid" />
                    </div>
                </div>
            </div>-->
@*/ .row*@
<!--</div>-->
@*/ .container*@





@*</section>-->*@

<section class="banner">
    <ul>
        <li>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-xl-7">
                        <div class="banner-content text-center">
                            <span class="subheading">Expert instruction</span>
                            <h1><span class="font-weight-normal">Energetika və avtomatika kafedrası</span></h1>
                            <p>Milli Aviasiya Akademiyası</p>
                            <a asp-controller="auth" asp-action="login" class="btn btn-tp">Daxil ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>




<br />
<!-- Banner Section End -->
<!-- COunter Section start -->
<section class="counter-block">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 bg-black counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-item text-center">
                            <i class="flaticon-user"></i>
                            <div class="count">
                                <span class="counter">1234</span>
                            </div>
                            <h6>Müəllim</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-item text-center">
                            <i class="flaticon-layers"></i>
                            <div class="count">
                                <span class="counter">5697</span>
                            </div>
                            <h6>Kitab</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-item text-center border-0">
                            <i class="flaticon-idea"></i>
                            <div class="count"><span class="counter">342</span></div>
                            <h6>Vakansiya</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-item text-center border-0">
                            <i class="flaticon-flag"></i>
                            <div class="count"><span class="counter">453</span></div>
                            <h6>Elan</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
