@model WebUI.Models.ViewModels.LeftNavbarViewModel

<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="~/Images/Teacher/@Model.Teacher.Image" style="width:50px; height:50px" />
        <br />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@Model.Teacher.Name @Model.Teacher.Surname</span>
            <span class="text-muted text-xs block">@Model.Teacher.AcademicDegree<b class="caret"></b></span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="/User/Teacher">Profil</a></li>
            <li><a class="dropdown-item" href="/User/Teacher/ChangePassword">Parolu dəyiş</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Auth/LogOut">Çıxış</a></li>
        </ul>
    </div>
    <div class="logo-element">
        MM
    </div>
</li>