@using WebUI.Areas.Admin.Models
@model ChangePasswordModel


<div class="card-body">
    <h4 class="card-title">Parolu dəyiş</h4>
    <br />
    <form class="forms-ample" asp-controller="Teacher" asp-action="ChangePassword" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AppUserId">
        <div class="form-group">
            <label for="exampleInputName1">Yeni parol</label>
            <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputName1" placeholder="Yeni parol">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Təkrar</label>
            <input type="password" asp-for="ConfrimPassword" class="form-control" id="exampleInputName1" placeholder="Yeni parolu təkrar yazın">
            <span asp-validation-for="ConfrimPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Təstiqlə</button>
        <a asp-action="Index" asp-controller="Teacher" class="btn btn-white btn-sm">Ləğv et</a>
    </form>
</div>